@import url('https://fonts.googleapis.com/css2?family=Almarai:wght@700&display=swap');

/* Start Globel Ruls */
:root {
  --main-color: #2D93B9;



}

* {
  font-family: 'Almarai', sans-serif !important;
  margin: 0;
  padding: 0;
  text-transform: capitalize;
  text-decoration: none !important;
  outline: none !important;
  list-style: none !important;
  font-weight: 400;
  transition: all 0.2s linear;
  box-sizing: border-box;
}

*::selection {
  background: var(--colorHover);
  color: #2D93B9;

}


body {
  /* overflow: hidden; */
  position: relative;
  background-color: #3C3C3C;
  color: #EDEFEF;
  overflow-x: hidden;
}


a {
  /* color: #ffff; */
  text-decoration: none;
}

a:hover {
  color: var(--main-color);
}

.active {
  color: var(--main-color) !important;

}

/* Start Nav Bar */


@media (min-width: 991px) {
  .custom-nav {
    margin-top: 1.5rem !important;
    position: absolute;
    width: 85% !important;
    z-index: 1000;
  }

  .custom-nav .navbar-nav {
    width: 90% !important;
    display: flex;
    align-items: center;
    justify-content: space-between;
    height: 43px;
    border-color: #707070;
    border-width: 1px;
    border-style: solid;
    background: #494949;
    border-style: solid;
    border-top-left-radius: 10px;
    border-top-right-radius: 1px;
    border-bottom-right-radius: 10px;
    border-bottom-left-radius: 1px;
  }



  .custom-nav .navbar-nav .nav-item a {
    padding: 10px 25px;
    font-size: 16px;
    font-weight: bold;
    font-style: normal;
    color: #fff;
    transition: all ease-in-out 1.ms;
    ;
  }

  .custom-nav .navbar-nav .dropdown .btn-custom {
    padding: 10px 25px;
    font-size: 16px;
    font-weight: bold;
    font-style: normal;
    color: #fff !important;
    transition: all ease-in-out 1.ms;
    ;
  }

  .custom-nav .navbar-nav .nav-item a:hover {
    color: var(--main-color);
  }



  .custom-nav .call-us {
    margin: 0 30px;
    padding: 7px 31px;
    display: inline-block;
    text-align: center;
    border-color: #707070;
    border-width: 1px;
    border-style: solid;
    border-radius: 3px;
    font-size: 16px;
    background-color: #EDEFEF;
    color: #5ED3FF;
    transition: all ease-in-out 1.ms;
    cursor: pointer;
  }

  .custom-nav .call-us:hover {
    background-color: #5ED3FF;
    color: #EDEFEF;
  }

  /* End Nav Bar */
}

/* Home Section */

.home {
  position: relative;
  width: 100%;
}

.home .box {
  position: absolute;
  top: 50%;
  left: 40%;
  transform: translate(-50%, -50%);

}


.home .box h1 {
  font-family: 'Almarai';
  font-size: 70px;
  font-weight: bold;
  text-transform: uppercase;

}

.home .box h2 {
  margin-top: 25px;
  margin-bottom: 20px;
  white-space: nowrap;
  overflow: hidden;
  font-family: 'Source Code Pro',
    monospace;
  font-size: 28px;
  color: rgba(255, 255, 255, .70);
  text-transform: uppercase;
  font-size: 60px;

}

.home .box h2 {
  animation: animated-text 4s steps(29, end) 1s 1 normal both,
    animated-cursor 600ms steps(29, end) infinite;
}

.home .box h2 span {
  color: var(--main-color);
  text-transform: uppercase;

}

.home .box p {
  width: 60%;
  line-height: 2;
}

/* text animation */

@keyframes animated-text {
  from {
    width: 0;
  }

  to {
    width: 575px;
  }
}

/* cursor animations */

@keyframes animated-cursor {
  from {
    border-right-color: rgba(255, 255, 255, 0.75);
  }

  to {
    border-right-color: transparent;
  }
}



.center {
  width: 180px;
  height: 60px;
  position: absolute;
}

.center .btn {
  width: 180px;
  height: 60px;
  cursor: pointer;
  background: transparent;
  border: 1px solid #91C9FF;
  outline: none;
  transition: 1s ease-in-out;
}

svg {
  position: absolute;
  left: 0;
  top: 0;
  fill: none;
  stroke: #fff;
  stroke-dasharray: 150 480;
  stroke-dashoffset: 150;
  transition: 1s ease-in-out;
  width: 180px;
  height: 60px;
}

.btn:hover {
  transition: 1s ease-in-out;
  background: var(--main-color);
}

.btn:hover svg {
  stroke-dashoffset: -480;
}

.btn span {
  color: white;
  font-size: 18px;
  font-weight: 100;
}


/* image body */
.image-body {
  width: 100% !important;
  border-left: #5ED3FF 1px solid;
  border-right: #5ED3FF 1px solid;
}

.image-body img {
  width: 100%;
  height: 100vh;
}

footer {
  width: 100%;
  position: relative;
}

footer .box {
  position: absolute;
  bottom: 2%;
  right: 25%;
}

footer .box ul {
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 15px;
}

footer .box ul li a {
  font-size: 28px;
  color: var(--main-color);
}

footer .box ul li a:hover {
  color: #707070;

}


/* about */


.about {
  position: relative;
  width: 100%;
}

.about .box {
  width: 100%;
  /* margin: 12rem 0 auto; */
  margin-top: 12rem;
  margin-bottom: 2rem;
}

.about .box .accordion-custom {
  width: 100%;
  padding: 5px;
}



.about .box .accordion-custom .accordion-item h1 {
  font-size: 33px;
  font-weight: bold;
  text-transform: uppercase;

}

.about .box .accordion-custom .accordion-item h1 span {
  font-weight: bold;
  text-transform: uppercase;
  color: var(--main-color);

}

.about .box .accordion-custom .accordion-item .accordion-body {
  line-height: 1.9;
}

.company-profile-btn {
  width: 206px;
  height: 42px;
  position: absolute;

}

.company-profile-btn .btn {
  width: 206px;
  height: 42px;
  cursor: pointer;
  background: transparent;
  border: 1px solid #91C9FF;
  outline: none;
  transition: 1s ease-in-out;
}

.company-profile-btn .border {
  position: absolute;
  left: 0;
  top: 0;
  fill: none;
  stroke: #fff;
  stroke-dasharray: 150 480;
  stroke-dashoffset: 150;
  transition: 1s ease-in-out;
  width: 206px;
  height: 42px;
}

.company-profile-btn .btn:hover {
  transition: 1s ease-in-out;
  background: var(--main-color);
}

.company-profile-btn .btn:hover .border {
  stroke-dashoffset: -480;
}

.company-profile-btn .btn span {
  color: white;
  font-size: 18px;
  font-weight: 100;
}

/* services */


.services {
  position: relative;
  width: 100%;
}

.services .box {
  width: 100%;
  margin: 12rem 0 auto;
}

.services .box h1 {
  font-size: 33px;
  font-weight: bold;
  text-transform: uppercase;

}

.services .box h1 span {
  font-weight: bold;
  text-transform: uppercase;
  color: var(--main-color);

}

.services .box p {
  font-size: 16px;
}

.services .box .accordion-custom {
  width: 100%;
  padding: 5px;
}



.services .box .accordion-custom .accordion-item h1 {
  font-size: 20px;
  font-weight: bold;
  text-transform: uppercase;
  color: var(--main-color);


}

.services .box .accordion-custom .accordion-item h1 span {
  font-weight: bold;
  text-transform: uppercase;

}

.services .box .accordion-custom .accordion-item .accordion-body {
  line-height: 1.9;
}




.portfolio {
  position: relative;
  width: 100%;
}

.portfolio .box {
  width: 100%;
  margin: 12rem 0 auto;
}

.portfolio .carousel {
  /* width: 80%; */
  margin: auto;

}

.portfolio .carousel .carousel-inner {

  /* border-radius: 80px !important; */
}

.portfolio .box h1 {
  font-size: 33px;
  font-weight: bold;

}

.portfolio .box h1 span {
  font-weight: bold;
  color: var(--main-color);

}

.portfolio .box h2 {
  margin-top: 25px;
  margin-bottom: 20px;
  white-space: nowrap;
  overflow: hidden;
  font-family: 'Source Code Pro',
    monospace;
  font-size: 28px;
  color: rgba(255, 255, 255, .70);
  text-transform: uppercase;
  font-size: 60px;

}

.portfolio .box h2 {
  animation: animated-text 4s steps(29, end) 1s 1 normal both,
    animated-cursor 600ms steps(29, end) infinite;
}

.portfolio .box h2 span {
  color: var(--main-color);
  text-transform: uppercase;

}

.portfolio .box p {
  width: 60%;
  line-height: 2;
}

/* text animation */

@keyframes animated-text {
  from {
    width: 0;
  }

  to {
    width: 575px;
  }
}

/* cursor animations */

@keyframes animated-cursor {
  from {
    border-right-color: rgba(255, 255, 255, 0.75);
  }

  to {
    border-right-color: transparent;
  }
}



.contact_us {
  padding: 10rem 0 0;
}

.heading {
  font-size: 2.5rem;
  font-weight: 900;
}

.form-control {
  border: none;
  border-bottom: 1px solid #ccc;
  padding-left: 0;
  padding-right: 0;
  border-radius: 0;
  background: none;
}

.form-control:active,
.form-control:focus {
  outline: none;
  -webkit-box-shadow: none;
  box-shadow: none;
  border-color: #000;
}

.col-form-label {
  color: #000;
  font-size: 13px;
}

.form form .btn,
.form-control,
.custom-select {
  height: 45px;
}

.custom-select:active,
.custom-select:focus {
  outline: none;
  -webkit-box-shadow: none;
  box-shadow: none;
  border-color: #000;
}

.form form .btn {
  border: none;
  border-radius: 0;
  font-size: 12px;
  letter-spacing: .2rem;
  text-transform: uppercase;
  margin: auto;
  display: block;
  width: 100%;
  width: fit-content;
}

.form form .btn.btn-primary {
  background: #2D93B9;
  color: #fff;
  padding: 15px 20px;
}

.form form .btn:hover {
  color: #fff;
}

.form form .btn:active,
.form form.btn:focus {
  outline: none;
  -webkit-box-shadow: none;
  box-shadow: none;
}

.contact-wrap .col-form-label {
  font-size: 14px;
  color: #b3b3b3;
  margin: 0 0 10px 0;
  display: inline-block;
  padding: 0;
}





.contact-wrap .contact-info ul li .wrap-icon {
  font-size: 20px;
  color: #fff;
  margin-top: 5px;
}

.contact-wrap {
  margin-top: 15px;
  margin-bottom: 10px;
}

.contact-wrap .form form {
  background: #fff;
  position: relative;
  padding: 15px;
  margin: 20px auto !important;
  border-top-left-radius: 10px;
  border-top-right-radius: 1px;
  border-bottom-right-radius: 10px;
  border-bottom-left-radius: 1px;
  border-color: #707070;
}

.form form .form-group {
  margin-top: 20px;
}

.contact-wrap h3 {
  color: #2D93B9;
  font-size: 20px;
  margin-bottom: 30px;
  text-transform: uppercase;
  text-align: center;
}





.info-contact h3 {
  color: #2D93B9;
  font-size: 20px;
  margin-bottom: 30px;
  text-transform: uppercase;
}

.info-contact .info-box {
  margin: auto;
  width: 100%;

}

.info-contact .info-box .box {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  border-color: #707070;
  border-width: 1px;
  border-style: solid;
  background: #494949;
  border-style: solid;
  border-top-left-radius: 10px;
  border-top-right-radius: 1px;
  border-bottom-right-radius: 10px;
  border-bottom-left-radius: 1px;
  margin: 15px auto !important;
  padding: 5px;
  transition: all 1s ease-in-out;
  width: 100%;
  height: 200px;
  gap: 20px;


}

.info-contact .info-box .box:hover {

  background: #2D93B9;

}

.info-contact .info-box:hover a .box i {
  color: #fff;
}

.info-contact .info-box a .box i {
  padding: 3px;
  font-size: 60px;
  color: #2D93B9;
  margin-bottom: 3px;
}

.info-contact .info-box a .box span {
  color: #fff;
  font-size: 16px;
}


@media (max-width: 1199.98px) {
  .contact-wrap .contact-info {
    height: 400px !important;
  }
}

.contact-wrap .contact-info h3 {
  color: #fff;
  font-size: 20px;
  margin-bottom: 30px;
}

label.error {
  font-size: 12px;
  color: red;
}

#message {
  resize: vertical;
}

#form-message-warning,
#form-message-success {
  display: none;
}

#form-message-warning {
  color: #B90B0B;
}

#form-message-success {
  color: #55A44E;
  font-size: 18px;
  font-weight: bold;
}

.submitting {
  float: left;
  width: 100%;
  padding: 10px 0;
  display: none;
  font-weight: bold;
  font-size: 12px;
  color: #000;
}


/* testing preloader */
.preloader {
  z-index: 1000;
  background-color: var(--main-color);
  width: 100vw;
  height: 100vh;
  position: absolute;
}

.btn-welcome {
  width: 130px;
  height: 130px;
  border-radius: 50%;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.opening {
  font-size: 24px;
  color: var(--main-color);
}

.social {
  width: 100%;
  position: relative;
}

.social .social-link {
  width: fit-content;
  position: fixed;
  top: 50%;
  /* left: 0; */
  right: 0;
  margin: auto;
  padding: 5px;
  text-align: center;
  transition: all 1s ease-in-out;
  /* background-color: #b3b3b3; */
  display: flex;
  align-items: center;
  justify-content: center;

}

.social .social-link .icon-open {
  /* background-color: rgba(255, 255, 255, .30); */
  text-align: center;
  width: fit-content;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer !important;
  transition: all 1s ease-in-out;
}

.social .social-link .icon-open i {
  font-size: 35px;
  color: #2D93B9 !important;
}

.social .social-link ul li {
  padding: 2px;

}

.social .social-link ul li a {
  font-size: 25px;
  color: #EDEFEF;
}

.social .social-link ul li a:hover i {
  color: var(--main-color);
}