@import url('https://fonts.googleapis.com/css2?family=Almarai:wght@700&display=swap');

/* Start Globel Ruls */
:root {
  --main-color: #2D93B9;



}

* {
  font-family: 'Almarai', sans-serif !important;
  margin: 0;
  padding: 0;
  text-transform: capitalize;
  text-decoration: none !important;
  outline: none !important;
  list-style: none !important;
  font-weight: 400;
  transition: all 0.2s linear;
  box-sizing: border-box;
}

*::selection {
  background: var(--colorHover);

}


body {
  /* overflow: hidden; */
  position: relative;
  background-color: #3C3C3C;
  color: #EDEFEF;
  overflow-x: hidden;
}


a {
  /* color: #ffff; */
  text-decoration: none;
}

a:hover {
  color: var(--main-color);
}

.active {
  color: var(--main-color) !important;

}

/* Start Nav Bar */


@media (min-width: 991px) {
  .custom-nav {
    margin-top: 1.5rem !important;
    position: fixed;
    width: 85% !important;
    z-index: 1000;

  }

  .custom-nav .navbar-nav {
    width: 90% !important;
    display: flex;
    align-items: center;
    justify-content: space-between;
    height: 43px;
    border-color: #707070;
    border-width: 1px;
    border-style: solid;
    background: #494949;
    border-style: solid;
    border-top-left-radius: 10px;
    border-top-right-radius: 1px;
    border-bottom-right-radius: 10px;
    border-bottom-left-radius: 1px;
  }



  .custom-nav .navbar-nav .nav-item a {
    padding: 10px 25px;
    font-size: 16px;
    font-weight: bold;
    font-style: normal;
    color: #fff;
    transition: all ease-in-out 1.ms;
    ;
  }

  /* .custom-nav .navbar-nav .dropdown .btn-custom {
    padding: 10px 25px;
    font-size: 16px;
    font-weight: bold;
    font-style: normal;
    color: #fff !important;
    transition: all ease-in-out 1.ms;
    ;
  } */

  .custom-nav .navbar-nav .nav-item a:hover {
    color: var(--main-color);
  }



  .custom-nav .call-us {
    margin: 0 30px;
    padding: 7px 31px;
    display: inline-block;
    text-align: center;
    border-color: #707070;
    border-width: 1px;
    border-style: solid;
    border-radius: 3px;
    font-size: 16px;
    background-color: #EDEFEF;
    color: #5ED3FF;
    transition: all ease-in-out 1.ms;
    cursor: pointer;
  }

  .custom-nav .call-us:hover {
    background-color: #5ED3FF;
    color: #EDEFEF;
  }

  .lang-respo {
    display: none;
  }

  .custom-nav .lang {
    width: 100px;
    display: flex;
    align-items: center;
    justify-content: center;
    margin: auto;
  }

  .custom-nav .lang .dropdown {
    border: none;
    border-color: #707070;
    transition: all 1s ease;

  }

  .custom-nav .lang .dropdown .btn:hover {
    background: #494949 !important;
    border-color: var(--main-color);

  }



  .custom-nav .lang .dropdown .dropdown-menu {

    justify-content: center;
    border-color: #707070;
    border-style: solid;
    border-top-left-radius: 10px;
    border-top-right-radius: 1px;
    border-bottom-right-radius: 10px;
    border-bottom-left-radius: 1px;
    margin-top: 10px;
    margin-right: 1000px;
  }



  .custom-nav .lang .dropdown .dropdown-menu li {
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;

  }

  /* End Nav Bar */
}

/* Home Section */

.home {
  position: relative;
  width: 100%;
  margin-bottom: 3rem;
}

.home .box {
  position: absolute;
  top: 50%;
  left: 40%;
  transform: translate(-50%, -50%);

}


.home .box h1 {
  font-family: 'Almarai';
  font-size: 70px;
  font-weight: bold;
  text-transform: uppercase;

}

.home .box h2 {
  margin-top: 25px;
  margin-bottom: 20px;
  white-space: nowrap;
  overflow: hidden;
  font-family: 'Source Code Pro',
    monospace;
  font-size: 28px;
  color: rgba(255, 255, 255, .70);
  text-transform: uppercase;
  font-size: 60px;

}

.home .box h2 {
  animation: animated-text 4s steps(29, end) 1s infinite normal both;

}

.home .box h2 span {
  color: var(--main-color);
  text-transform: uppercase;

}

.home .box p {
  width: 60%;
  line-height: 2;
}

/* text animation */

@keyframes animated-text {
  from {
    width: 0;
  }

  to {
    width: 575px;
  }
}

/* cursor animations */




.center {
  width: 180px;
  height: 60px;
  position: absolute;
}

.center .btn {
  width: 180px;
  height: 60px;
  cursor: pointer;
  background: transparent;
  border: 1px solid #91C9FF;
  outline: none;
  transition: 1s ease-in-out;
}

svg {
  position: absolute;
  left: 0;
  top: 0;
  fill: none;
  stroke: #fff;
  stroke-dasharray: 150 480;
  stroke-dashoffset: 150;
  transition: 1s ease-in-out;
  width: 180px;
  height: 60px;
}

.btn:hover {
  transition: 1s ease-in-out;
  background: var(--main-color);
}

.btn:hover svg {
  stroke-dashoffset: -480;
}

.btn span {
  color: white;
  font-size: 18px;
  font-weight: 100;
}


/* image body */
.image-body {
  width: 100% !important;

}

.image-body img {
  width: 100%;
  height: 100vh;
}

footer {
  width: 100%;
  position: relative;
}

footer .box {
  position: absolute;
  bottom: 2%;
  right: 25%;
}

footer .box ul {
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 15px;
}

footer .box ul li a {
  font-size: 28px;
  color: var(--main-color);
}

footer .box ul li a:hover {
  color: #707070;

}


/* about */


.about {
  position: relative;
  width: 100%;
  margin-bottom: 3rem;
}

.about .box {
  width: 100%;
  /* margin: 12rem 0 auto; */
  margin-top: 5rem;

}

.about .box .accordion-custom {
  width: 100%;
  padding: 5px;
}



.about .box .accordion-custom .accordion-item h1 {
  font-size: 33px;
  font-weight: bold;
  text-transform: uppercase;

}

.about .box .accordion-custom .accordion-item h1 span {
  font-weight: bold;
  text-transform: uppercase;
  color: var(--main-color);

}

.about .box .accordion-custom .accordion-item .accordion-body {
  line-height: 1.9;
}

.company-profile-btn {
  width: 100%;
  margin: 10px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.company-profile-btn a {
  text-align: center;
  width: fit-content;
  border: 1px solid #2D93B9;
  padding: 7px 15px;
  border-top-left-radius: 10px;
  border-top-right-radius: 1px;
  border-bottom-right-radius: 10px;
  border-bottom-left-radius: 1px;
  transition: all 1s ease-in;
  font-size: 18px;
  text-transform: capitalize;
  color: #fff
}

.company-profile-btn a:hover {
  transform: scale(0.95);
  color: rgb(45, 147, 185);
  border-color: #ccc;
  background-color: #ccc;

}

/* services */


.services {
  position: relative;
  width: 100%;
  margin-bottom: 3rem;
}

.services .box {
  width: 100%;
}

.services .box h1 {
  font-size: 33px;
  font-weight: bold;
  text-transform: uppercase;

}

.services .box h1 span {
  font-weight: bold;
  text-transform: uppercase;
  color: var(--main-color);

}

.services .box p {
  font-size: 16px;
}

.services .box .accordion-custom {
  width: 100%;
  padding: 5px;
}



.services .box .accordion-custom .accordion-item h1 {
  font-size: 20px;
  font-weight: bold;
  text-transform: uppercase;
  color: var(--main-color);


}

.services .box .accordion-custom .accordion-item h1 span {
  font-weight: bold;
  text-transform: uppercase;

}

.services .box .accordion-custom .accordion-item .accordion-body {
  line-height: 1.9;
}




.portfolio {
  width: 100%;
  /* margin: 100px 0 0 0 auto; */
}

.portfolio .title {
  width: 100%;
  margin: 5rem 0 auto;
  text-align: center;
}

.portfolio .title h1 {
  font-size: 50px;
  font-weight: bold;
  text-align: center;
  position: relative;
  margin-bottom: 60px;
}

.portfolio .title h1:after {
  content: '';
  position: absolute;
  width: 100px;
  height: 4px;
  background-color: var(--main-color);
  bottom: -20px;
  left: 0;
  right: 0;
  margin: 0 auto;
}






.portfolio .carousel-item {
  width: 100%;
  margin: 0 auto;
  margin-bottom: 10px;
}

.portfolio .carousel-item .box {
  margin: 0 auto;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  padding: 5px;
}

.portfolio .carousel-item .box img {
  width: 100%;
}

.portfolio .carousel-item .box .contact {
  width: 100%;
  display: flex;
  align-items: start;
  justify-content: center;
  flex-direction: column;
  margin: auto;
  margin-top: 3rem;
}

.portfolio .carousel-item .box .contact h1 {
  font-size: 40px !important;
  font-weight: bold;
  color: #fff;
  margin: 15px auto;
}

.portfolio .carousel-item .box .contact p {
  line-height: 2;
  font-size: 19px;
  padding: 20px;
  color: var(--main-color);
  width: 80%;
  margin: auto;
}



.portfolio .carousel-item .box .contact .btn {
  text-align: center;
  width: fit-content;
  border: 1px solid #2D93B9;
  padding: 7px 15px;
  border-top-left-radius: 10px;
  border-top-right-radius: 1px;
  border-bottom-right-radius: 10px;
  border-bottom-left-radius: 1px;
  transition: all 1s ease-in;
  font-size: 18px;
  text-transform: capitalize;
  color: #fff;
  margin: 10px auto;

}

.portfolio .carousel-item .box .contact .btn:hover {
  transform: scale(0.95);
  color: rgb(45, 147, 185);
  border-color: #ccc;
  background-color: #ccc;

}


.box-video {
  position: relative;
  width: 100%;
  border: #adb5bd 1px solid;
  margin: 20px 0 auto;
  cursor: pointer !important;
  transition: all 1s ease-in-out;
  background-color: #fff;
  border-top-left-radius: 10px;
  border-top-right-radius: 1px;
  border-bottom-right-radius: 10px;
  border-bottom-left-radius: 1px;
}

.box-video::after {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5);
  /* Adjust the opacity as needed */
  pointer-events: none;
  opacity: 1;
  transition: opacity 0.3s ease-in-out;
}

.box-video:hover {
  border: var(--main-color) 2px solid;

}

.box-video:hover::after {
  opacity: 0;


}

.box-video iframe {
  width: 100%;
  height: 100%;
  border-top-left-radius: 10px;
  border-top-right-radius: 1px;
  border-bottom-right-radius: 10px;
  border-bottom-left-radius: 1px;
  padding: 5px;
  transition: all 1s ease-in-out;

}





.btn-video {
  width: 100%;
  margin: 10px;
  display: flex;
  align-items: center;
  justify-content: center;
  transition: all 1s ease-in;

}

.btn-video a {
  text-align: center;
  width: fit-content;
  border: 1px solid #2D93B9;
  padding: 7px 15px;
  border-top-left-radius: 10px;
  border-top-right-radius: 1px;
  border-bottom-right-radius: 10px;
  border-bottom-left-radius: 1px;
  transition: all 1s ease-in;
  font-size: 18px;
  text-transform: capitalize;
  color: #fff;
  margin: 10px auto;
}


.btn-video a:hover {
  transform: scale(0.95);
  color: rgb(45, 147, 185);
  border-color: #ccc;
  background-color: #ccc;
}

.portfolio .box-web {
  position: relative;
  width: 90%;
  margin: 10px auto;
  border-top-left-radius: 10px;
  border-top-right-radius: 1px;
  border-bottom-right-radius: 10px;
  border-bottom-left-radius: 1px;
}

.portfolio .box-web::after {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5);
  /* Adjust the opacity as needed */
  pointer-events: none;
  opacity: 1;
  transition: opacity 0.3s ease-in-out;
  border-top-left-radius: 10px;
  border-top-right-radius: 1px;
  border-bottom-right-radius: 10px;
  border-bottom-left-radius: 1px;
}

.portfolio .box-web:hover::after {
  opacity: 0;

}

.portfolio .box-web img {
  width: 100%;
  border-top-left-radius: 10px;
  border-top-right-radius: 1px;
  border-bottom-right-radius: 10px;
  border-bottom-left-radius: 1px;
  transition: all 1s ease-in-out;
}

.portfolio .box-web img:hover {
  transform: scale(0.95) rotateZ(10deg) translate(-50px, 5px);
}

/*  portfolio */

/*Start Contact us*/


.contact_us {
  width: 100%;
  margin-top: 1rem;
}

.contact_us .title {
  width: 100%;
  margin: 5rem 0 auto;
  text-align: center;
}

.contact_us .title h1 {
  font-size: 50px;
  font-weight: bold;
  text-align: center;
  position: relative;
  margin-bottom: 60px;
}

.contact_us .title h1:after {
  content: '';
  position: absolute;
  width: 100px;
  height: 4px;
  background-color: var(--main-color);
  bottom: -20px;
  left: 0;
  right: 0;
  margin: 0 auto;
}

.contact_us .contact-form-info {
  display: flex;
  align-items: start;
  justify-content: center;
}

.contact_us .form {
  width: 100%;
  margin: 2rem auto;

  border-top-left-radius: 10px;
  border-top-right-radius: 1px;
  border-bottom-right-radius: 10px;
  border-bottom-left-radius: 1px;
  border: 1px solid #2D93B9;

}

.contact_us .form form {
  padding: 15px;
}

.contact_us .form form span {
  color: red;
}



.contact_us .form form .btn {
  display: block;
  text-align: center;
  width: fit-content;
  border: 1px solid #2D93B9;
  padding: 7px 15px;
  border-top-left-radius: 10px;
  border-top-right-radius: 1px;
  border-bottom-right-radius: 10px;
  border-bottom-left-radius: 1px;
  transition: all 1s ease-in;
  font-size: 18px;
  text-transform: capitalize;
  color: #fff;
  margin: 10px auto;

}

.contact_us .form form .btn:hover {
  background-color: var(--main-color);
  border-color: #fff;
  color: #fff;
}



.contact_us .icon-box {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  width: 100%;
  margin: auto;
}


.contact_us .icon-box .info-box {
  background-color: #EDEFEF;
  color: var(--main-color);
  margin: 1rem;
  padding: 5px;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  border: 1px solid #2D93B9;
  border-top-left-radius: 10px;
  border-top-right-radius: 1px;
  border-bottom-right-radius: 10px;
  border-bottom-left-radius: 1px;
  cursor: pointer;
  transition: all 1s ease;
}

.contact_us .icon-box .info-box:hover {
  transform: scale(0.95) rotateZ(10deg) translate(-50px, 5px);
  background-color: var(--main-color);
  border: 2px solid #fff;

}

.contact_us .icon-box .info-box:hover i {
  color: #fff;
}

.contact_us .icon-box .info-box i {
  font-size: 30px;
  padding: 5px;
}

.contact_us .icon-box .info-box span {
  color: #3C3C3C;
}





/* .contact-wrap .contact-info ul li .wrap-icon {
  font-size: 20px;
  color: #fff;
  margin-top: 5px;
} */

/* .contact-wrap {
  margin-top: 15px;
  margin-bottom: 10px;
} */




/* .contact_us .form form .form-group {
  margin-top: 20px;
} */

/* .contact-wrap h3 {
  color: #2D93B9;
  font-size: 20px;
  margin-bottom: 30px;
  text-transform: uppercase;
  text-align: center;
} */





/* .info-contact h3 {
  color: #2D93B9;
  font-size: 20px;
  margin-bottom: 30px;
  text-transform: uppercase;
} */

/* .info-contact .info-box {
  margin: auto;
  width: 100%;

} */

/* .info-contact .info-box .box {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  border-color: #707070;
  border-width: 1px;
  border-style: solid;
  background: #494949;
  border-style: solid;
  border-top-left-radius: 10px;
  border-top-right-radius: 1px;
  border-bottom-right-radius: 10px;
  border-bottom-left-radius: 1px;
  margin: 15px auto !important;
  padding: 5px;
  transition: all 1s ease-in-out;
  width: 100%;
  height: 200px;
  gap: 20px;


} */

/* .info-contact .info-box .box:hover {

  background: #2D93B9;

} */

/* .info-contact .info-box:hover a .box i {
  color: #fff;
} */

/* .info-contact .info-box a .box i {
  padding: 3px;
  font-size: 60px;
  color: #2D93B9;
  margin-bottom: 3px;
} */

/* .info-contact .info-box a .box span {
  color: #fff;
  font-size: 16px;
} */

/* 
@media (max-width: 1199.98px) {
  .contact-wrap .contact-info {
    height: 400px !important;
  }
} */

/* .contact-wrap .contact-info h3 {
  color: #fff;
  font-size: 20px;
  margin-bottom: 30px;
}

label.error {
  font-size: 12px;
  color: red;
}

#message {
  resize: vertical;
}

#form-message-warning,
#form-message-success {
  display: none;
}

#form-message-warning {
  color: #B90B0B;
} */
/* 
#form-message-success {
  color: #55A44E;
  font-size: 18px;
  font-weight: bold;
}

.submitting {
  float: left;
  width: 100%;
  padding: 10px 0;
  display: none;
  font-weight: bold;
  font-size: 12px;
  color: #000;
}

*/
/* testing preloader */
.preloader {
  z-index: 1000;
  background-color: var(--main-color);
  width: 100vw;
  height: 100vh;
  position: absolute;
}

.btn-welcome {
  width: 130px;
  height: 130px;
  border-radius: 50%;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.opening {
  font-size: 24px;
  color: var(--main-color);
}

.social {
  width: 100%;
  position: relative;
}

.social .social-link {
  width: fit-content;
  position: fixed;
  top: 50%;
  /* left: 0; */
  right: 0;
  margin: auto;
  padding: 5px;
  text-align: center;
  transition: all 1s ease-in-out;
  /* background-color: #b3b3b3; */
  display: flex;
  align-items: center;
  justify-content: center;

}

.social .social-link .icon-open {
  /* background-color: rgba(255, 255, 255, .30); */
  text-align: center;
  width: fit-content;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer !important;
  transition: all 1s ease-in-out;
}

.social .social-link .icon-open i {
  font-size: 35px;
  color: #2D93B9 !important;
}

.social .social-link ul li {
  padding: 2px;

}

.social .social-link ul li a {
  font-size: 25px;
  color: #EDEFEF;
}

.social .social-link ul li a:hover i {
  color: var(--main-color);
}






/* loyalty_program */
.loyalty_program {
  width: 100%;

}

.loyalty_program .loyalty_content {
  display: flex;
  align-items: center;
  justify-content: center;

}

.loyalty_program .title {
  width: 100%;
  margin: 5rem 0 auto;
  text-align: center;
}

.loyalty_program .title h1 {
  font-size: 50px;
  font-weight: bold;
  text-align: center;
  position: relative;
  margin-bottom: 60px;
}

.loyalty_program .title h1:after {
  content: '';
  position: absolute;
  width: 100px;
  height: 4px;
  background-color: var(--main-color);
  bottom: -20px;
  left: 0;
  right: 0;
  margin: 0 auto;
}


.loyalty_program .box-image {
  position: relative;
  width: 100% !important;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 5px;
}



.loyalty_program .box-image img {
  width: 100%;
}





.loyalty_program .box-content h2 {
  font-size: 40px !important;
  font-weight: bold;
  color: #fff;
  margin: 10px auto;
}

.loyalty_program .box-content p {
  line-height: 2;
  font-size: 19px;
  padding: 10px;
  color: var(--main-color);
  width: 100%;
  margin: auto;
}


.loyalty_program .loyalty_content .btn-box a {
  text-align: center;
  width: fit-content;
  border: 1px solid #2D93B9;
  padding: 7px 15px;
  border-top-left-radius: 10px;
  border-top-right-radius: 1px;
  border-bottom-right-radius: 10px;
  border-bottom-left-radius: 1px;
  transition: all 1s ease-in;
  font-size: 18px;
  text-transform: capitalize;
  color: #fff;
  margin: 10px auto;

}

.loyalty_program .loyalty_content .btn-box a:hover {
  transform: scale(0.95);
  color: rgb(45, 147, 185);
  border-color: #ccc;
  background-color: #ccc;
}





.loyalty_program .loyalty_content .box-form {
  /* background-color: #fff; */
  padding: 10px;
  margin: 5rem auto;

  border-top-left-radius: 10px;
  border-top-right-radius: 1px;
  border-bottom-right-radius: 10px;
  border-bottom-left-radius: 1px;
  border: 1px solid #2D93B9;

}

.loyalty_program .loyalty_content .box-form form {
  padding: 10px;
  margin-top: 10px;
}

.loyalty_program .loyalty_content .box-form form .col-form-label {
  color: #fff;
  font-size: 18px;
}

.loyalty_program .loyalty_content .box-form form .form-control {

  border: 1px solid #2D93B9;
}

.loyalty_program .loyalty_content .box-form form .btn {
  text-align: center;
  width: fit-content;
  border: 1px solid #2D93B9;
  padding: 7px 15px;
  transition: all .95s ease-out;
  font-size: 18px;
  text-transform: capitalize;
  color: var(--main-color);
  background-color: #dfd6d6;

}

.loyalty_program .loyalty_content .box-form form .btn:hover {
  transform: scale(.95);
  color: rgb(245, 245, 245);
  background-color: var(--main-color);
}

/* Brand */
.logo-slider .item a img {
  width: 100%;

}


.boxing {

  margin: 100px 0 0 0 auto;
}

.brand h1 {
  font-size: 50px;
  font-weight: bold;
  text-align: center;
  position: relative;
  margin-bottom: 60px;
}

.brand h1:after {
  content: '';
  position: absolute;
  width: 100px;
  height: 4px;
  background-color: var(--main-color);
  bottom: -20px;
  left: 0;
  right: 0;
  margin: 0 auto;
}


.logo-slider {
  width: 90%;
  margin: auto;
}

.logo-slider .item {

  background-color: #fff;
  box-shadow: 0 4px 5px #cacaca;
  border-radius: 8px;
  padding: 15px;
  border: 2px solid #111;
}

.logo-slider .slick-slide {
  margin: 15px;
}

.slick-dots li.slick-active button:before {
  color: var(--main-color);
}

.slick-dots li button:before {
  font-size: 12px;
}

.slick-next:before,
.slick-prev:before {
  color: var(--main-color);
  font-size: 24px;
}

.item:hover {
  display: block;
  transition: all ease 0.3s;
  transform: scale(1.1) translateY(-5px);
}



.content a {
  -webkit-transition: .3s all ease;
  -o-transition: .3s all ease;
  transition: .3s all ease;
}

.content p {
  color: #999999;
  font-weight: 300;
}

/* a,
a:hover {
  text-decoration: none !important;
} */

.content {
  padding: 0;
}

/* s */

.owl-1 .owl-nav {
  width: 100%;
  position: absolute;
  top: 50%;
}

.owl-1 .owl-nav .owl-next,
.owl-1 .owl-nav .owl-prev {
  border: 1px solid red;
  z-index: 92;
  position: absolute;
  top: 50%;
}

.owl-1 .owl-nav .owl-next:active,
.owl-1 .owl-nav .owl-next:focus,
.owl-1 .owl-nav .owl-prev:active,
.owl-1 .owl-nav .owl-prev:focus {
  outline: none;
}

.owl-1 .owl-nav .owl-next span,
.owl-1 .owl-nav .owl-prev span {
  color: #fff;
}

.owl-1 .owl-nav .owl-next span:before,
.owl-1 .owl-nav .owl-prev span:before {
  font-size: 40px !important;
}

.owl-1 .owl-nav .owl-next {
  border: 4px solid blue;
  right: 20px;
}

.owl-1 .owl-nav .owl-prev {
  left: 20px;
}

.owl-1 .owl-dots {
  position: absolute;
  bottom: 40px;
  left: 50%;
  -webkit-transform: translateX(-50%);
  -ms-transform: translateX(-50%);
  transform: translateX(-50%);
}

.owl-1 .owl-dots .owl-dot {
  background: none;
  display: inline-block;
}

.owl-1 .owl-dots .owl-dot>span {
  display: inline-block;
  width: 7px;
  height: 7px;
  border-radius: 50%;
  background: rgba(255, 255, 255, 0.5);
  margin: 4px;
}

.owl-1 .owl-dots .owl-dot.active>span {
  background: white;
}

.owl-1 .owl-dots .owl-dot:active,
.owl-1 .owl-dots .owl-dot:focus {
  outline: none;
}

.media-29101 .img {
  -webkit-box-flex: 0;
  -ms-flex: 0 0 50%;
  flex: 0 0 50%;
}

.media-29101 .text {
  padding: 50px;
}

@media (max-width: 991.98px) {
  .media-29101 .text {
    padding: 20px;
    width: 100%;
  }
}

.media-29101 .text .category {
  color: #adb5bd;
  text-transform: uppercase;
  font-size: 12px;
  font-weight: bold;
  letter-spacing: .2rem;
}

.media-29101 .text h2 {
  font-family: "Playfair Display", times, serif;
  font-size: 2rem;
  line-height: 1.3;
  margin-bottom: 30px;
}

.media-29101 .text h2 a {
  color: #000;
}

.carousel-nav {
  width: 100%;
  border-bottom: 1px solid #ccc;
  margin-bottom: 40px;
}

.carousel-nav a {
  color: #fff;
  padding: 20px;
  text-align: center;
  display: inline-block;
  -webkit-transition: .3s all ease;
  -o-transition: .3s all ease;
  transition: .3s all ease;
  font-size: 20px;
}

.carousel-nav a:hover {
  color: var(--main-color);
  text-decoration: none !important;
}


.carousel-nav a.active {
  color: #000;
}

.carousel-nav a.active:before {
  content: "";
  bottom: -1px;
  left: 0;
  right: 0;
  position: absolute;
  border-bottom: 1px solid var(--main-color);
}